 {% extends 'base_generic.html' %} {% block content %} 

 

<div class="row flex">
    {% load evaluate %} {% load comments %}{% for f in latest_features %}

    <div class="col-sm-6 flex mt-2">
        <div class="card h-100">
            <div class="row no-gutters">
                <div class="col-auto">
                    {% load imagekit %} {% thumbnail '80x80' f.image -- alt="{{ f.title }}" class="img-fluid"%}
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <div class="card-title"><a class="headline" href="/{{ f.category.slug }}/{{ f.slug }}/"><span class="catname">{{ f.category}} </span>/ {{f.title }}</a>
                        </div>{% comment %}
                         <p class="card-text"> {% render_this f.intro %}
                        </p> 
                         <a href="#" class="btn btn-primary">BUTTON</a> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                <div class="float-md-right"><img src="/media/img/comment-plumbing.png" width="15" height="15">
          {{ f.pk }} comments   </div
            ></div>

        </div>

    </div>
    {% if forloop.counter|divisibleby:2 %}</div>
<div class="row flex">{% endif %}{% endfor %}</div>

{% endblock content %}{% block featured %}{% endblock featured%}
