      <style type="text/css">
  #primary-nav {
    background-color: #011018;
}
    </style>
     <div id="primary-nav">

  <div class="container">
  
    <ul class="nav">
      <li class="nav-item">
        <a href="/features/combi/" class="nav-link">features</a>
      </li>
      <li class="nav-item">
        <a href="/secret-plumber/im-not-that-expensive/" class="nav-link">secret plumber</a>
      </li>
      <li class="nav-item">
        <a href="/news/hydrogen/" class="nav-link">news</a>
      </li>
    </ul>    
    
  </div>
  
</div>