We're going to take a look at the 10 most common sensors in a gas system or combi boiler. These sensors will be found in natural gas and LPG boilers.
Each of the boiler sensors can be tested with an inexpensive multimeter.
These sensors all ensure the safe operation of the boiler, so it is important that you do not 
attempt to diagnose any sensor faults or remplace any components unless you are competent to do so.

<div id="feature-index">
<h2>The Boiler Sensors</h2>
<ol> 
	<li><a href="#fan">Fan Pressure / Proving Switch</a></li>
    <li><a href="#mercury_switches">Mercury Switch</a></li>
    <li><a href="#flow_switch">Flow Switches</a></li>
    <li><a href="#hosco_flow_switch">Hosco Flow Switch</a></li>
    <li><a href="#reed_switch">Reed Switch</a></li>
    <li><a href="#diaphragm_reed_switch">Diaphragm Reed Switch</a></li>
    <li><a href="#thermistor">Thermistor</a></li>
	<li><a href="#thermocouple">Thermocouple</a></li>
    <li><a href="#photocell">Photocell</a></li>
    <li><a href="#flame-sensing-eclectrode">Flame sensing / ignition electrode</a></li> 
</ol>
</div>
<p>
It is important to note that many gas boilers will use the case as 0V or ground, this means that sensors can either be
grounded directly through their body,fixings of a small wire to the boiler chasis.
</p>
<p>When checking sensors it is important to clean all terminals connections, and check the continuity of connecting cables.</p>

<h3 id="fan">Fan Pressure/Proving Switch</h3>
<p>The fan pressure switch or fan proving switch will prevent the boiler from lighting if the fan is not operating or their is a blockage in the boiler flue.</p>
<p><img alt="Fan Pressure or Proving Switch" src="/media/img/fan-pressure-proving-switch.jpg" style="width:100%" /></p>

<h3>Measurement and Control of DHW Flow Rates</h3>

<h3 id="flow_switch">Flow Switches</h3>

<p>There are a number of different types of flow sensing devices that fall within the general heading of flow switches. These devices are used to inform the boiler of the demand for domestic hot water. (Although they can be used to check for the operation of a pump in a similar way i.e. checking for water flow.)</p>

<h3 id="reed_switch">Reed Switches</h3>

<p><img alt="Reed Switch" src="/media/img/read-switch-boiler.jpg" style="width:100%" /></p>

<p>The reed switch usually consists of two permanent magnets one of which is connected to a sensing lever and the other to a microswitch. The magnets are usually like a pole (both north poles or both south poles).</p>

<p>Some combi boilers use the Sifan flow switch this consists of a paddle connected to a lever and a reed switch.</p>

<h3 id="hosco_flow_switch">Hosco Flow Switch</h3>

<p><img alt="" src="/media/img/hosco_flow_switch.jpg" style="width:100%" /></p>

<p>Another variation on a flow switch is the ball reed type. This is basically a magnetic ball that moves with the flow of water and operates a reed switch. A similar switch can be found in use with certain power showers.</p>

<p><img alt="" src="/media/img/diaphragm-reed-switch-boiler.jpg" style="width:100%" /></p>

<h3 id="diaphragm_reed_switch">Diaphragm Reed Switch</h3>

<p>This is a diaphragm that moves up when water flows. On the top side is a reed switch.</p>


<p><img alt="Pressure switch with microswitch" src="/media/img/pressure-switch.jpg" style="width:100%" /></p>


<p>Membrane Type + microswitch</p>


<h3 id="Thermistors">Thermistors</h3>

<p>A thermistor can be used as a flow sensor by sensing slight changes in temperature as water flown to the hot tap.</p>
The most common failure is an open circuit. These failures can arise because of mechanical separation between lead materials and resistor elements. Separation occurs because of handling damage, high/excessive heat, and thermal mismatching.
The second most commonly experienced issue with thermistors is drifting in the resistance value. This problem begins to occur as the thermistor ages, as well as when parameters change. This problem will cause inaccurate measurements, which in turn will prevent the thermistor from providing correct thermal compensation.
The least common failure mode is a short circuit.


<p><img alt="Gas boiler NTC thermistor for Baxi boiler" src="/media/img/gas-boiler-NTC-thermistor.jpg" style="width:100%" /></p>


<h3 id="mechanical_switches">Mechanical Switches</h3>

<p>Switches are primarily used to switch current on or off. They have metal contacts which can be opened or closed to make or break the circuit. The contacts are prone to failure due to slackness in the operation or due to damage to the metal surface due to arcing or simply wear.</p>

<p>In systems with electronic components the switching becomes more complex because a variety of electronic (rather than mechanical) switches can operate.</p>

<p>The most obvious switch will be the main power to the unit. This may be a rocker switch with the letters 0 and 1 indicating off or on. They are often illuminated giving a quick check to see that power is being delivered to the unit. Other power indicators may also be present. Toggle switches and slide switches are less likely to be found in current units. The slide switches are more usual for low voltage use domestic electronic equipment, such as radios and toggle switches are dated.</p>

<p>Push-button switches may be latching, when they can switch circuits on or off but the may be momentary. Such a switch may be used to ************************* in a heating system.</p>

<p>Electronic systems can &#39;decide&#39; when to switch a circuit on or off but they need to have some information provided from the system. When mechanical movement is possible, such as in a pressure detecting device, a microswitch could be operated. There are several types but they simply make contact with a low operating force. A signal can then be sent to the control system.</p>

<h3 id="mercury_switches">Mercury switches</h3>

<p>Mercury switches detect the tilt of some part of the system. The mercury runs between two metal contacts to complete a circuit. A glass case is shown in the illustration but a nickel-plated steel case is more robust.</p>

<p>Mercury is a dangerous material and where public health may be an issue it would be replaced with non-toxic materials.</p>


<p><img alt="gas boiler mercury vapour switch - now obsolete" src="/media/img/mercury_vapour_switch.jpg" style="width:100%" /></p>


<h3 id="thermocouple">thermocouple</h3>


So, why and how do temperature sensors fail? There are any number of ways a thermocouple can fail. It can short out, the sheath can fail, it can be damaged during operation or installation, it can be improperly installed, etc. The key is to perform a thorough root-cause analysis and prevent the failure again in the future, if possible.

Main cause of failure are cracked or broken insulation on wire, a grounded, ungrounded or exposed tip

<p><img alt="gas boiler thermocouple with accessories" src="/media/img/gas-boiler-thermocouple.jpg" style="width:100%" /></p>


<h3 id="photocell">Photocell, Magic eye, or Light dependent resistor</h3>

<p><img alt="oil boiler photocell" src="/media/img/boiler-photocell-500x500.jpg" style="width:100%" /></p>

<h3 id="flame-sensing-eclectrode">Flame sensing ignition eclectrode</h3>
<p>The flame rectification system is an electrical process that causes a low level DC current
 to be conducted from the flame rod of the electrode through the flame, and back to ground. When the
the flame current is too low, or not present the boiler PCB will stop the ignition operation
 and stop the flow of gas to the jets.</p>
<p><img alt="2 Flame sensing eclectrodes" src="/media/img/flame-sensing-electrode.jpg" style="width:100%" /></p>
